[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
black = "*"
pipenv = "*"
django-ckeditor = "*"
django-cleanup = "*"
django-crispy-forms = "*"
django-js-asset = "*"
django = "==2.2.8"

[requires]
python_version = "3.7"
